/* .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    margin-right: 56px
}
.spinner{
    position: absolute;
    align-self: auto;
    z-index: -2;
    float: right;
    margin-left: 1320px;
} */