@keyframes bgcolor {
    0% {
        background-color: #45a3e580
    }

    30% {
        background-color: #66bf3980
    }

    60% {
        background-color: #eb670f80
    }

    90% {
        background-color: #f4425980
    }

    100% {
        background-color: #864cbf80
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.round-winner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.winning-user{
    font-size: 60px;
}