canvas {
    text-align: center;
    /* background-image: linear-gradient(to bottom right, #e600e6, #000000CC, green); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    min-width: 100vw;
    min-height: 100vh;
  }

  .waiting{
    color: black;
    animation: bouncy 3s linear;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 33px;
    padding: 10px 30px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px #ffffff
  }
  .judge{
    color: black;
    animation: bouncy 3s linear;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 33px;
    padding: 10px 30px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px #ffffff;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid black;
    background: lightgray;
    padding: 10px 30px 30px;
    border-radius: 20px;
  }
  
  .dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 #000000;
    margin-top: 50px;
  }
  
  .uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;  
  }
  
  .dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
  }
  
  .tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
  }
  
  .cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
    }
    30% {
      transform: rotate(370deg);
    }
    35% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-180deg);
    }
    35% {
      transform: rotate(-190deg);
    }
    40% {
      transform: rotate(-180deg);
    }
    78% {
      transform: rotate(-180deg);
    }
    95% {
      transform: rotate(-360deg);
    }
    98% {
      transform: rotate(-370deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    27% {
      transform: rotate(0deg);  
    }
    40% {
      transform: rotate(180deg);
    }
    45% {
      transform: rotate(190deg);
    }
    50% {
      transform: rotate(180deg);
    }
    62% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    80% {
      transform: rotate(370deg);
    }
    85% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin4 {
    0% {
      transform: rotate(0deg);
    }
    38% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-360deg);
    }
    65% {
      transform: rotate(-370deg);
    }
    75% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @media (max-width: 775px) {
    .waiting{
      color: black;
      animation: bouncy 3s linear;
      animation-iteration-count: infinite;
      position: relative;
      margin-top: 33px;
      padding: 10px 30px 30px;
      text-shadow: 2px 2px white;
    }
    .judge{
      color: black;
      animation: bouncy 3s linear;
      animation-iteration-count: infinite;
      position: relative;
      margin-top: 33px;
      padding: 10px 30px 30px;
      text-shadow: 2px 2px white;
    }
  
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border: 2px solid black;
      background: lightgray;
      padding: 10px 30px 30px;
    }
    
    .dash {
      margin: 0 5px;
      width: 35px;
      height: 15px;
      border-radius: 8px;
      background: #ffffff;
      box-shadow: 0 0 10px 0 #000000;
      margin-top: 70px;
    }
    .uno {
      margin-right: -5px;
      transform-origin: center left;
      animation: spin 3s linear infinite;  
    }
    .dos {
      margin-right: 15px;
      transform-origin: center right;
      animation: spin2 3s linear infinite;
      animation-delay: .2s;
    }
    
    .tres {
      margin-right: 15px;
      transform-origin: center right;
      animation: spin3 3s linear infinite;
      animation-delay: .3s;
    }
    
    .cuatro {
      margin-right: 15px;
      transform-origin: center right;
      animation: spin4 3s linear infinite;
      animation-delay: .4s;
    }
  }


@media (max-width: 450px) {
.waiting{
    color: black;
    animation: bouncy 3s linear;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 33px;
    padding: 10px 30px 30px;
    text-shadow: 2px 2px white;
  }
  .judge{
    color: black;
    animation: bouncy 3s linear;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 33px;
    padding: 10px 30px 30px;
    text-shadow: 2px 2px white;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid black;
    background: lightgray;
    padding: 10px 30px 30px;
  }
  
  .dash {
    margin: 0 5px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 10px 0  black;
    margin-top: 70px;
  }
  .uno {
    margin-right: -5px;
    transform-origin: center left;
    animation: spin 3s linear infinite;  
  }
  .dos {
    margin-right: 15px;
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
  }
  
  .tres {
    margin-right: 15px;
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
  }
  
  .cuatro {
    margin-right: 15px;
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
  }
  }
