.room-code{
    font-size: 80px;
}
.game-loading-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.display-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 300px;
}
.rounds{
    font-size: 60px;
}
.le-players{
    font-size: 55px;
}